.input-f{
    margin-top: 10px;
    padding: 8px 23px;
    border: 1px solid grey;
    border-radius: 7px;
}
.su-btn{
background-color: rgb(228, 188, 13);
font-weight: 500;
color: rgb(18, 9, 27);
padding: 6px 50px;
margin-top: 10px;
border: none;
}
.su-btn:hover{
    background-color: rgb(143, 138, 138);
    color: white;
}
.psu{
    margin-top: 13%;
}